{{>header}}

<div class="content">
    <h1>Carrito de la Compra</h1>

    <div class="container">
        <h2>Productos en tu carrito</h2>

        {{#cartProducts}}
            <li style="font-size: 24px;">
                <a href="/products/{{id}}">{{name}}</a> - {{price}} €
            </li>
        {{/cartProducts}}
        <div style="margin-top: 20px;"></div>

        <button class="btn btn-outline-secondary" onclick="location.href='/'; return false;">Back to all products</button>

        <div style="margin-top: 20px;"></div>

        <button class="btn btn-primary" onclick="location.href='/checkout'">Realizar compra</button>
    </div>
</div>

{{>footer}}