{{>header}}

<h2>Edit Product</h2>

<form action="/editproduct" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">

  <div class="mb-3">
    <label class="form-label">Nombre del producto</label>
    <input type="text" class="form-control" name="name" id="name" value="{{product.name}}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Descripción: </label>
    <textarea class="form-control" name="description" id="description" required>{{product.description}}</textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Precio: </label>
    <input type="number" class="form-control" name="price" id="price" step="0.01" value="{{product.price}}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Stock disponible: </label>
    <input type="number" class="form-control" name="stock" id="stock" value="{{product.stock}}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Marca/Proveedor: </label>
    <input type="text" class="form-control" name="provider" id="provider" value="{{product.provider}}" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Imagen: </label>
    <input type="file" class="form-control" name="imageField" id="imageField" accept=".jpg, .jpeg">
    <small>Deja este campo vacío si no deseas cambiar la imagen.</small>
  </div>

  <div class="mb-3">
    <label class="form-label">Usuario que lo vende: </label>
    <select class="form-select" name="selectedUsers" id="selectedUsers" multiple required>
        {{#availableShops}}
        <option value="{{ id }}">{{ name }}</option>
        {{/availableShops}}
    </select>
  </div>

  <button class="btn btn-outline-secondary" onclick="location.href='/'; return false;">Cancelar</button>
  <button class="btn btn-primary" type="submit">Guardar Cambios</button>
</form>

<script>
  function validateForm() {
    var name = document.getElementById('name');
    var description = document.getElementById('description');
    var price = document.getElementById('price');
    var stock = document.getElementById('stock');
    var provider = document.getElementById('provider');
    var selectedUsers = document.getElementById('selectedUsers');

    if (!name.value || !description.value || !price.value || !stock.value || !provider.value || selectedUsers.selectedOptions.length === 0) {
      alert('Por favor, rellena todos los campos obligatorios antes de enviar.');
      return false;
    }

    return true;
  }
</script>

{{>footer}}
