{{>header}}

<div class="content">
    <p></p>
    <h1>Bienvenido a la Aplicación</h1>

    {{#isAdmin}}
    <h1>Administrador</h1>
    <h2 style="margin-bottom: 20px;">Usuarios</h2>
    {{#users}}
    <div
        style="display: block; padding: 10px 15px; margin-bottom: 10px; background-color: #f5f5f5; border-radius: 8px; color: #333; font-size: 14px;">
        <div style="margin-bottom: 4px;"><strong>ID:</strong> {{id}}</div>
        <div><strong>ROL:</strong> {{roles}}</div>
        <div style="margin-bottom: 4px;"><strong>Nombre:</strong> {{name}}</div>
        <div><strong>Email:</strong> {{email}}</div>
        <form method="post" action="/removeUser/{{id}}" style="margin: 0;">
            <button type="submit" class="btn btn-danger"
                style="padding: 5px 10px; display: flex; align-items: center; justify-content: center;"
                onclick="return confirm('¿Estás seguro de que quieres borrarlo?');">Borrar
                <input type="hidden" name="_csrf" value="{{token}}" />
            </button>
        </form>
    </div>

    {{/users}}
    <p>¿Quieres añadir un usuario?</p>
    <button class="btn btn-primary" style="background-color:#40e356; color: black;"
        onclick="location.href='/newUser'">Crear nuevo usuario ➕ </button>

    {{/isAdmin}}

    <div class="container">
        <p></p>
        <h2>Productos</h2>

        {{#isAdmin}}
        <p><b></b></p>
        <p>¿Quieres añadir algún producto?</p>
        <button class="btn btn-primary" style="background-color: #69a3e2; color: black;"
            onclick="location.href='/newproduct'">Nuevo producto 🛠️</button>
        <p></p>
        {{/isAdmin}}

        <div class="product-container">
            {{#products}}
            <a href="/products/{{id}}" class="product-item">
                <div class="product-item-content">
                    <img class="product-img" src="/products/{{id}}/image" alt="{{name}}">
                    <p class="product-name">{{name}}</p>
                    <p class="product-price">{{price}} €</p>
                </div>
            </a>
            {{/products}}
            
            {{^products}}
            <p style="margin-top: 20px; font-style: italic;">NO se han encontrado productos con tu búsqueda.</p>
            {{/products}}
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <button id="loadMoreBtn" class="btn btn-primary" style="background-color: #40e356; color: black;">
                Cargar más productos ⬇️
            </button>
        </div>
        
    </div>
</div>


<script>
    let currentPage = 1; // Spring starts 0
    const pageSize = 10;

    document.getElementById("loadMoreBtn").addEventListener("click", async () => {
        const res = await fetch(`/api/products/?page=${currentPage}&size=${pageSize}`);
        const data = await res.json();

        const container = document.querySelector(".product-container");

        data.products.forEach(product => {
            const a = document.createElement("a");
            a.href = `/products/${product.id}`;
            a.className = "product-item";
            a.innerHTML = `
                <div class="product-item-content">
                    <img class="product-img" src="/products/${product.id}/image" alt="${product.name}">
                    <p class="product-name">${product.name}</p>
                    <p class="product-price">${product.price} €</p>
                </div>
            `;
            container.appendChild(a);
        });

        currentPage++;

        if (currentPage >= data.totalPages) {
            document.getElementById("loadMoreBtn").style.display = "none";
        }
    });

</script>


{{>footer}}