{{>header}}

<div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4">
        <img class="img-thumbnail large-image" src="/products/{{product.id}}/image" style="width: 100%; height: auto;">
      </div>
      <div class="col-8">
        <h2>Product "{{product.name}}"</h2>
        
        <div>
          <p>{{{product.description}}}</p>
        </div>
  
        <p><b>The Stock available is:</b></p>
        <div>
          <ul>
            {{#product.users}}
            <li><a href="/users/{{id}}">{{id}}</a></li>
            {{/product.users}}
          </ul>
        </div>
        <button class="btn btn-outline-secondary" onclick="location.href='/'; return false;">Back to all products</button>
      </div>
    </div>
  </div>
</div>


{{>footer}}