.container{
    max-width: 80%;
    margin-top: 2em !important;
    margin: auto;
}

.container form{
    max-width: 40em;
}

form{
    margin-bottom: 20px;
}

.ql-editor {
    min-height: 10em;
    background-color: white;
}